<mat-toolbar color="primary" data-testid="header-toolbar">
  @if (!layoutService.isSmallDevice()) {
    <button mat-icon-button (click)="sidenavToggle()" data-testid="sidenav-toggle" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  } @else {
    <div>
      <button data-testid="menu-button" mat-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu data-testid="menu" #beforeMenu="matMenu" xPosition="before">
        @for (item of routes; track item) {
          <button mat-menu-item [routerLink]="item.path" [ngClass]="layoutService.layoutClass()">
            <span matListItemIcon class="material-symbols-outlined">{{ item.data ? item.data['icon'] : '' }}</span>
            <span matListItemTitle>&nbsp;{{ item.title | substring: 0 }}</span>
          </button>
        }
      </mat-menu>
    </div>
    <h1>{{ title }}</h1>
  }

  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
