<div [ngClass]="layoutService.layoutClass()">
  <ng-container *transloco="let t; prefix: 'race_conduction'">
  <mat-card>
    <mat-card-title><a routerLink="/race-conduction/participant">{{ t('participants') }}</a></mat-card-title>
    <mat-card-content>{{ t('participants_card_content') }}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction/participant">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><a routerLink="/race-conduction/field">{{ t('field') }}</a></mat-card-title>
    <mat-card-content>{{t('field_card_content')}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction/field">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><a routerLink="/race-conduction">{{ t('start') }}</a></mat-card-title>
    <mat-card-content>{{t('start_card_content')}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><a routerLink="/race-conduction">{{ t('finish') }}</a></mat-card-title>
    <mat-card-content>{{t('finish_card_content')}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><a routerLink="/race-conduction">{{ t('trace') }}</a></mat-card-title>
    <mat-card-content>{{t('trace_card_content')}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><a routerLink="/race-conduction">{{ t('broadcast') }}</a></mat-card-title>
    <mat-card-content>{{t('trace_card_content')}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title><a routerLink="/race-conduction">{{ t('chat') }}</a></mat-card-title>
    <mat-card-content>{{t('chat_card_content')}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{t('read_more')}}</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
    </mat-card-actions>
  </mat-card>
  </ng-container>
</div>
