<div [ngClass]="layoutService.layoutClass()">
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/race">Races</a></mat-card-title>
        <mat-card-content>Plan, search and sign up for races.</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Read more...</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/race">Go...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/sailor">Sailors</a></mat-card-title>
        <mat-card-content>Register yourself and your boat</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Read more...</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/sailor">Go...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/yacht-club">Sailing Organizations</a></mat-card-title>
        <mat-card-content>Register your sailing organization.</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Read more...</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/yacht-club">Go...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/boat">Boats</a></mat-card-title>
        <mat-card-content>Register, edit, search your boat.</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Read more...</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/boat">Go...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/boat-class">Boat Classes</a></mat-card-title>
        <mat-card-content>Register, edit, search your boat type.</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Read more...</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/boat-class">Go...</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/sailing-place">Sailing Places</a></mat-card-title>
        <mat-card-content>Search, edit, or register new the details of your sailing place.</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Read more...</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/sailing-place">Go...</button>
        </mat-card-actions>
    </mat-card>
</div>
