<div [ngClass]="layoutService.layoutClass()">
  <ng-container *transloco="let t; prefix: 'race_planning'">
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/race">{{ t('races') }}</a></mat-card-title>
        <mat-card-content>{{t('races_card_content')}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>{{t('read_more')}}</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/race">{{t('go')}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/sailor">{{ t('sailors') }}</a></mat-card-title>
        <mat-card-content>{{t('sailors_card_content')}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>{{t('read_more')}}</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/sailor">{{t('go')}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/yacht-club">{{ t('sailing_org') }}</a></mat-card-title>
        <mat-card-content>{{t('sailing_org_card_content')}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>{{t('read_more')}}</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/yacht-club">{{t('go')}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/boat">{{ t('boats') }}</a></mat-card-title>
        <mat-card-content>{{t('boats_card_content')}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>{{t('read_more')}}</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/boat">{{t('go')}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/boat-class">{{ t('boat_classes') }}</a></mat-card-title>
        <mat-card-content>{{t('boat_classes_card_content')}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>{{t('read_more')}}</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/boat-class">{{t('go')}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title><a routerLink="/race-planning/sailing-place">{{ t('sailing_places') }}</a></mat-card-title>
        <mat-card-content>{{t('sailing_places_card_content')}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>{{t('read_more')}}</button>
            <button color="primary" mat-raised-button routerLink="/race-planning/sailing-place">{{t('go')}}</button>
        </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
