.web-layout, .tablet-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.handset-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
