<div [ngClass]="layoutService.layoutClass()">
  <ng-container *transloco="let t; prefix: 'race_analysis'">
    <mat-card>
      <mat-card-title><a routerLink="/race-conduction/participant">{{ t('results') }}</a></mat-card-title>
      <mat-card-content>{{ t('results_card_content') }}</mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>{{t('read_more')}}</button>
        <button color="primary" mat-raised-button routerLink="/race-conduction/participant">{{t('go')}}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title><a routerLink="/race-conduction/field">{{ t('replay') }}</a></mat-card-title>
      <mat-card-content>{{ t('replay_card_content') }}</mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>{{t('read_more')}}</button>
        <button color="primary" mat-raised-button routerLink="/race-conduction/field">{{t('go')}}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title><a routerLink="/race-conduction">{{ t('analyse') }}</a></mat-card-title>
      <mat-card-content>{{ t('analyse_card_content') }}</mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>{{t('read_more')}}</button>
        <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title><a routerLink="/race-conduction">{{ 'chat' }}</a></mat-card-title>
      <mat-card-content>{{t('chat_card_content')}}</mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>{{t('read_more')}}</button>
        <button color="primary" mat-raised-button routerLink="/race-conduction">{{t('go')}}</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
